<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Kontak Universal | <%= title  %></title>
</head>
<body>
    <main>
        <nav>
            <h1>Simpan Kontak Universal</h1>
        </nav>
        <section>
            <%- body  %>
        </section>
        <footer>
                
        </footer>    
    </main>
    <script src="/js/main.js"></script>
</body>
</html>